<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        routerLink="/dashboard"
      >
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a
        >
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->
      <div class="sidebar-heading">Interface</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a
          class="nav-link collapsed"
          href="#"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="true"
          aria-controls="collapseTwo"
        >
          <i class="fas fa-user"></i>
          <span>Clientes</span>
        </a>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Componente clientes:</h6>
            <a class="collapse-item" routerLink="/client-new">
              <i class="fas fa-user-plus"></i> Agregar Clientes</a
            >
            <a class="collapse-item" routerLink="/client-list"
              ><i class="fas fa-clipboard-list"></i> Lista de clientes</a
            >
          </div>
        </div>
      </li>

      <!-- Nav Item - grupos -->
      <li class="nav-item" style="cursor: pointer">
        <a
          class="nav-link collapsed"
          routerLinkActive="active-link"
          data-toggle="collapse"
          data-target="#collapseUtilitie"
          aria-expanded="true"
          aria-controls="collapseUtilitie"
        >
          <i class="fas fa-users"></i>
          <span>Grupos</span>
        </a>
        <div
          id="collapseUtilitie"
          class="collapse"
          aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Componente Grupos:</h6>
            <a class="collapse-item" routerLink="/group-new">
              <i class="fas fa-user-plus"></i> Agregar Grupos</a
            >
            <a class="collapse-item" routerLink="/group-list"
              ><i class="fas fa-clipboard-list"></i> Lista de Grupos</a
            >
          </div>
        </div>
      </li>
      <!-- Nav Item - requerimientos -->
      <li class="nav-item" style="cursor: pointer">
        <a
          class="nav-link collapsed"
          routerLinkActive="active-link"
          data-toggle="collapse"
          data-target="#collapseUtiliti"
          aria-expanded="true"
          aria-controls="collapseUtiliti"
        >
          <i class="fas fa-list-alt"></i>
          <span>Solicitudes</span>
        </a>
        <div
          id="collapseUtiliti"
          class="collapse"
          aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Componente Solicitudes:</h6>
            <a class="collapse-item" routerLink="/requests-new">
              <i class="fas fa-plus"></i> Nueva Solicitud</a
            >
            <a class="collapse-item" routerLink="/requests-client-new">
              <i class="fas fa-plus"></i> Nueva Solicitud(Cliente)</a
            >
            <a class="collapse-item" routerLink="/requests-list"
              ><i class="fas fa-clipboard-list"></i> Lista de Solicitudes</a
            >
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->

      <!-- Nav Item - Pages Collapse Menu -->

      <!-- Nav Item - Charts -->

      <!-- Nav Item - Tables -->

      <!-- Sidebar Toggler (Sidebar) -->

      <!-- Sidebar Message -->
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav
          class="
            navbar navbar-expand navbar-light
            bg-white
            topbar
            mb-4
            static-top
            shadow
          "
        >
          <!-- Sidebar Toggle (Topbar) -->
          <button
            id="sidebarToggleTop"
            class="btn btn-link d-md-none rounded-circle mr-3"
          >
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <!-- <form
            class="
              d-none d-sm-inline-block
              form-inline
              mr-auto
              ml-md-3
              my-2 my-md-0
              mw-100
              navbar-search
            "
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form> -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <!-- <li class="nav-item dropdown no-arrow d-sm-none">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="searchDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div
                class="
                  dropdown-menu dropdown-menu-right
                  p-3
                  shadow
                  animated--grow-in
                "
                aria-labelledby="searchDropdown"
              >
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control bg-light border-0 small"
                      placeholder="Search for..."
                      aria-label="Search"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li> -->

            <!-- Nav Item - Alerts -->

            <!-- Nav Item - Messages -->

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  {{ username ? username : "N/A" }}</span
                >
                <div class="topbar-divider d-none d-sm-block"></div>

                <img
                  class="img-profile rounded-circle"
                  src="../../../../assets/css-admin/img/undraw_profile.svg"
                />
              </a>
              <!-- Dropdown - User Information -->
              <div
                class="
                  dropdown-menu dropdown-menu-right
                  shadow
                  animated--grow-in
                "
                aria-labelledby="userDropdown"
              >
                <a class="dropdown-item" routerLink="/user-new">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Usuarios
                </a>

                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#logoutModal"
                >
                  <i
                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                  ></i>
                  Cerrar sesión
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h1 class="h3 mb-0 text-gray-800">
              <i class="fas fa-user-plus"></i> Agregar Cliente
            </h1>
            <!-- <a
              href="#"
              class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
              ><i class="fas fa-download fa-sm text-white-50"></i> Generate
              Report</a
            > -->
          </div>
          <div
            class="btn-group d-flex justify-content-center"
            role="group"
            aria-label="Basic example"
          >
            <button
              routerLink="/client-list"
              type="button"
              class="btn btn-primary"
            >
              <i class="fas fa-clipboard-list"></i>
              Lista de Clientes</button
            ><button
              type="button"
              routerLink="/client-new"
              class="btn btn-primary"
              routerLink="/client-new"
            >
              <i class="fas fa-user-plus"></i> Agregar Clientes
            </button>
          </div>
          <br /><br />
          <div>
            <div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    <i class="fas fa-user"></i>
                    {{ editing ? "Actulizar" : "" }}
                    {{ editing ? "información" : "Información" }} básica
                  </h6>
                </div>
                <div class="card-body">
                  <form
                    autocomplete="off"
                    #Forma="ngForm"
                    (ngSubmit)="editing ? updateCliente() : saveCliente()"
                  >
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre Completo</label>
                        <input
                          required
                          class="form-control"
                          [ngClass]="{
                            'is-valid': firstname.valid,
                            'is-invalid': firstname.invalid
                          }"
                          pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ ]{2,254}"
                          name="firstname"
                          id="firstname"
                          #firstname="ngModel"
                          [(ngModel)]="cliente.firstname"
                          type="text"
                          class="form-control"
                          id="inputEmail4"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellidos</label>
                        <input
                          required
                          class="form-control"
                          [ngClass]="{
                            'is-valid': lastname.valid,
                            'is-invalid': lastname.invalid
                          }"
                          pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ ]{2,254}"
                          [(ngModel)]="cliente.lastname"
                          name="lastname"
                          id="lastname"
                          #lastname="ngModel"
                          type="text"
                          class="form-control"
                          id="inputPassword4"
                        />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputtel">Numero de telefono</label>
                        <input
                          required
                          class="form-control"
                          [ngClass]="{
                            'is-valid': tel.valid,
                            'is-invalid': tel.invalid
                          }"
                          pattern="^[0-9 ]{10}"
                          [(ngModel)]="cliente.tel"
                          name="tel"
                          id="tel"
                          #tel="ngModel"
                          type="tel"
                          class="form-control"
                          id="inputtel"
                        />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputAddress">Dirección y numero</label>
                        <input
                          required
                          class="form-control"
                          [ngClass]="{
                            'is-valid': address.valid,
                            'is-invalid': address.invalid
                          }"
                          pattern="^[a-zA-Z0-9_ ]{2,254}"
                          [(ngModel)]="cliente.address"
                          name="address"
                          id="address"
                          #address="ngModel"
                          type="text"
                          class="form-control"
                          id="inputAddress"
                        />
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputPassword4">Numero de interior</label>
                        <input
                          class="form-control"
                          pattern="^[0-9]*$"
                          [(ngModel)]="cliente.number_int_address"
                          name="number_int_address"
                          id="number_int_address"
                          #number_int_address="ngModel"
                          type="text"
                          class="form-control"
                          id="inputPassword4"
                        />
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Codigo Postal</label>
                        <div class="input-group">
                          <input
                            required
                            class="form-control"
                            [(ngModel)]="cliente.zip"
                            name="zip"
                            id="zip"
                            #cp
                            (keyup)="buscar(cp.value)"
                            #zip="ngModel"
                            type="text"
                            class="form-control"
                            id="inputAddress"
                          />
                          <!-- <div class="input-group-append">
                            <button
                              #cp
                              (click)="buscar(cp.value)"
                              class="btn btn-primary"
                              type="button"
                            >
                              <i class="fas fa-search fa-sm"></i>
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputZip">Colonia</label>
                        <input
                          id="suburb"
                          name="suburb"
                          #suburb="ngModel"
                          [(ngModel)]="cliente.suburb"
                          type="text"
                          class="form-control"
                          [(value)]="codigos.ciudad"
                        />
                      </div>

                      <div class="form-group col-md-4">
                        <label for="inputState">Estado</label>

                        <input
                          name="state"
                          #state="ngModel"
                          [(ngModel)]="cliente.state"
                          id="state"
                          class="form-control"
                          [(value)]="codigos.ciudad"
                        />
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputCity">Ciudad</label>
                        <input
                          name="city"
                          #city="ngModel"
                          [(ngModel)]="cliente.city"
                          type="text"
                          class="form-control"
                          id="city"
                          [(value)]="codigos.ciudad"
                        />
                      </div>
                    </div>
                    <div class="container-fluid h-100">
                      <div class="row w-100 align-items-center">
                        <div class="col text-center">
                          <button
                            [disabled]="!Forma.valid"
                            class="btn btn-primary regular-button"
                          >
                            <i class="fas fa-save"></i>
                            {{ editing ? "Actulizar" : "Agregar" }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Listo para irse?</h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Seleccione "Cerrar sesión" a continuación si está listo para finalizar
          su sesión actual.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancelar
          </button>
          <a
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="auth.cerrarSesion()"
            >Cerrar sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
