<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
          No pudimos encontrar la página que buscaba. Esto se debe a que: Hay un
          error en la URL ingresada en su navegador web. Verifique la URL y
          vuelva a intentarlo. La página que busca se ha movido o eliminado.
          Puede volver a nuestra página de inicio haciendo
          <a routerLink="">clic aquí.</a>
        </div>
        <div class="error-actions"></div>
      </div>
    </div>
  </div>
</div>
